

.text-center {
    margin-left: auto;
    margin-right: auto;
}

.btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

.sitelogo {
    color: #111;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.tier-container {
    margin-top: 70px;
}

div.list-group li.list-group-item span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

div.menu-item {
    background: url("../img/team_func1.jpg");
}