

.text-center {
    margin-left: auto;
    margin-right: auto;
}

.btn-transparent {
    background-color: transparent;
    border-color: transparent;
}

.sitelogo {
    color: #111;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.tier-container {
    margin-top: 70px;
}

div.list-group li.list-group-item span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

ul#team-tab li {
    background-color: #dff0d8;
}

div.team-funcs p {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}