<div style="padding-top: 50px;">
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                RECENT CHAT HISTORY
            </div>
            <div class="panel-body">
                <ul class="media-list" id="inbox" style="height: 400px">

                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <div class="media-body" >
                                    Donec sit amet ligula enim. Duis vel condimentum massa.

                                    Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                    Duis vel condimentum massa.
                                    Donec sit amet ligula enim. Duis vel condimentum massa.
                                    <br />
                                    <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                    <hr />
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div id="input" class="panel-footer">
                <form action="/a/message/new" method="post" id="messageform">
                    <div class="input-group">
                        <input id="message" name="body" type="text" class="form-control" placeholder="Enter Message" />
                        {% module xsrf_form_html() %}
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">SEND</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
               ONLINE USERS
            </div>
            <div class="panel-body">
                <ul class="media-list">

                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <div class="media-body" >
                                    <h5>Alex Deo | User </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <div class="media-body" >
                                    <h5>Jhon Rexa | User </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <div class="media-body" >
                                    <h5>Alex Deo | User </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <div class="media-body" >
                                    <h5>Jhon Rexa | User </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>