<div style="padding-top: 50px;">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                RECENT CHAT HISTORY
            </div>
            <div class="panel-body">
                <ul class="media-list pre-scrollable" id="inbox" style="min-height: 400px; height:">
                    {% for message in messages %}
                        {% module Template("modules/message.html", message=message) %}
                    {% end %}
                </ul>
            </div>
            <div id="input" class="panel-footer">
                <form action="/team/chat/new" method="post" id="messageform">
                    <div class="input-group">
                        <input id="message" name="body" type="text" class="form-control" placeholder="Enter Message" />
                        {% module xsrf_form_html() %}
                        <input type="hidden" name="next" value="{{ request.path }}"/>
                        <span class="input-group-btn">
                            <button id="msg-post-btn" class="btn btn-info" value="{{ _("Post") }}">SEND</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>