<div style="padding-top: 50px;">
    <div>
        <h3 class="sub-header h-bold">Team News Board</h3>
        <br/>

        <div id="team-news-list" class="list-group">
            {% set i = 0 %}
            {% if team_news != None %}
                {% for new in team_news %}
                    <li href="" class="list-group-item list-group-item-default row">
                        <span class="col-md-1">{{ i + 1 }}</span>
                        <span class="col-md-2">{{ new['user_name'] }}</span>
                        <span class="col-md-7">{{ new['content'] }}</span>
                        <span class="col-md-2">{{ new['post_time'] }}</span>
                    </li>
                    {% set i = i + 1 %}
                {% end %}
            {% end if %}
            {% if i % 6 != 0 or i == 0 %}
                {% set j = (i / 6 + 1) * 6 - i %}
                {% for x in xrange(j) %}
                    <li href="" class="list-group-item list-group-item-default row">
                        <span class="col-md-2">{{ i + 1 }}</span>
                        <span class="col-md-3"></span>
                    </li>
                    {% set i = i + 1 %}
                {% end%}
            {% end if %}
        </div>
        <div>
            <ul class="pager">
                <li><a id="news-previous">Previous</a></li>
                <li><a id="news-next">Next</a></li>
            </ul>
        </div>
    </div>

    <br/>
    <br/>

    <div id="msg-post">
        <h3 class="sub-header h-bold">Team News Post</h3>

        <br/>

        <span class="input-group-addon" id="basic-addon1">Message Content</span>
        <textarea id="msg-content" type="text" rows="5" class="form-control" placeholder="CONTENT" aria-describedby="basic-addon1"></textarea>

        <br/>

        <button id="msg-post-clear-btn" type="submit" class="btn btn-primary">Clear</button>
        <button id="msg-post-confirm-btn" type="submit" class="btn btn-primary">Post</button>

        <hr/>       
    </div>

</div>