<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Team News</h1>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Message Target Team</span>
        <input type="text" class="form-control" placeholder="target team" aria-describedby="basic-addon1">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">team1 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">team1</a></li>
              <li><a href="#">team2</a></li>
              <li><a href="#">team3</a></li>
          </ul>
        </div>
    </div>

    <br/>

    <span class="input-group-addon" id="basic-addon1">Message Content</span>
    <textarea type="text" rows="5" class="form-control" placeholder="content" aria-describedby="basic-addon1"></textarea>

    <br/>

    <button type="submit" class="btn btn-success">clear</button>
    <button type="submit" class="btn btn-success">post</button>

    <hr/>

    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <p> message 1 </p>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <p> message 2 </p>
            </div>
        </div>

        <hr/>
    </div>

</div>