<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="task-assign">
        <h3 class="sub-header h-bold">Assign Task</h3>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Target Team</span>
            <div class="btn-group">
                <button id="assign-target-team" type="button" class="btn btn-info">NONE</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for team in user_teams %}
                        <li class='assign-team-choice'><a hrer="">{{ team }}</a></li>
                    {% end %}
                </ul>
            </div>
        </div>

        <br/>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Assignee</span>
            <div class="btn-group">
                <button id="assign-target-member" type="button" class="btn btn-info">NONE</button>
                <button id="assign-member-select-btn" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul id="assign-member-dropdown" class="dropdown-menu" role="menu">
                </ul>
            </div>
        </div>

        <br/>

        <span class="input-group-addon" id="basic-addon1">Assignment Content</span>
        <textarea id="assign-content" type="text" rows="5" class="form-control" placeholder="assignment content" aria-describedby="basic-addon1"></textarea>

        <br/>

        <div class="row">
            <div class='col-sm-6'>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Deadline</span>
                    <div class='input-group date datetimepicker'>
                        <input id="assign-deadline" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <button id="assign-create-clear-btn" type="submit" class="btn btn-primary">Clear</button>
        <button id="assign-create-confirm-btn" type="submit" class="btn btn-primary">Create</button>

        <hr/>      
    </div>

    <br/>
    <br/>

    <div id="meeting-create">
        <h3 class="sub-header h-bold">Create Meeting</h3>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Target Team</span>
            <div class="btn-group">
                <button id="meeting-target-team" type="button" class="btn btn-info">NONE</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for team in user_teams %}
                        <li class='meeting-team-choice'><a hrer="">{{ team }}</a></li>
                    {% end %}
                </ul>
            </div>
        </div>

        <br/>

        <span class="input-group-addon" id="basic-addon1">Meeting Content</span>
        <textarea id="meeting-content" type="text" rows="4" class="form-control" placeholder="meeting content" aria-describedby="basic-addon1"></textarea>

        <br/>

        <div class="row">
            <div class='col-sm-6'>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Deadline</span>
                    <div class='input-group date datetimepicker'>
                        <input id="meeting-time" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <button id="meeting-create-clear-btn" type="submit" class="btn btn-primary">Clear</button>
        <button id="meeting-create-confirm-btn" type="submit" class="btn btn-primary">Create</button>      
    </div>

</div>