<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tier Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet">

    <!-- Third Party -->
    <link href="{{ static_url("third-party/css/bootstrap-datetimepicker.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("third-party/css/timeline.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/dashboard.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/tier.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">

    <script src="{{ static_url("third-party/js/jquery.min.js") }}"></script>
    <script src="{{ static_url("js/dashboard.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/chat.js") }}" type="text/javascript"></script>

  </head>

  <body>

    {% module Template("nav.html", username=username) %}

    <div class="container-fluid" style="padding-top: 50px">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar" style="padding-top: 50px">
                    <li id="team-new" class="menu-item active-container active"><a>Team News</a></li>
                    <li id="team-manage" class="menu-item"><a>Team Management</a></li>
                    <li id="meeting-schedule" class="menu-item"><a>Meeting Schedule </a></li>
                    <li id="deadline-schedule" class="menu-item"><a>Deadline Schedule </a></li>
                    <li id="team-chatroom" class="menu-item"><a>Team ChatRoom</a></li>
                    <li id="personal-wiki" class="menu-item"><a>Personal Wiki</a></li>
                </ul>
            </div>

            <div id="team-new-container" class='page-content-container'>
                {% module Template("modules/team_news.html", team=team) %}
            </div>
            
            <div id="team-manage-container" class='page-content-container' style="display: None">
                {% module Template("modules/team_manage.html", team=team) %}
            </div>
            
            <div id="meeting-schedule-container" class='page-content-container' style="display: None">
                {% module Template("modules/meeting_schedule.html") %}
            </div>
            
            <div id="deadline-schedule-container" class='page-content-container' style="display: None">
                {% module Template("modules/deadline_schedule.html") %}
            </div>
            
            <div id="team-chatroom-container" class='page-content-container' style="display: None">
                {% module Template("modules/chat_room.html") %}
            </div>
            
            <div id="personal-wiki-container" class='page-content-container' style="display: None">
                {% module Template("modules/personal_wiki.html") %}
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="{{ static_url("third-party/js/bootstrap-datetimepicker.min.js") }}"></script>

  </body>
</html>
