
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tier Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/dashboard.css") }}" rel="stylesheet">

    <link href="{{ static_url("css/my.css") }}" rel="stylesheet">

  </head>

  <body>

    {% module Template("nav.html", username=username) %}

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Team News <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Team Management</a></li>
            <li><a href="#">Meeting Schedule </a></li>
            <li><a href="#">Deadline Schedule </a></li>
            <li><a href="#">Team ChatRoom</a></li>
            <li><a href='#'>Personal Wiki</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Team News</h1>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static_url("bootstrap/js/ie10-viewport-bug-workaround.js") }}"></script>
  </body>
</html>
