<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tier.me</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-left" action="/team/lobby" method="GET">
        <div class="form-group">
          <input type="text" placeholder="Search Team" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Search</button>
      </form>
      <form class="navbar-form navbar-right">
        {% if not username %}
        <div class="form-group">
          <a class="btn btn-success" type="button" href="/auth/login">Sign in</a>
          <a class="btn btn-success" type="button" href="/auth/register">Sign Up</a>
        </div>
        {% else %}
        <div class="form-group">
          <a class="btn btn-transparent" href="/dashboard" style="color: white">{{ username }}</a>
          <a class="btn btn-success" type="button" href="/auth/logout">Log out</a>
        </div>
        {% end %}
      </form>
    </div>
  </div>
</nav>