<!-- Navigation -->
<div id="navigation" class="navbar-fixed-top">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand site-logo" href="/">Tier.me</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="/#intro">Home</a></li>
                        <li><a href="/#about">About Us</a></li>
                        <li><a href="/#service">Services</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                    
                    <form class="navbar-form navbar-right">
                        {% if not username %}
                        <div class="form-group">
                            <a class="btn btn-success" type="button" href="/auth/signin">Sign In</a>
                            <a class="btn btn-success" type="button" href="/auth/signup">Sign Up</a>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <a id="nav_user" class="btn btn-transparent" href="/user/lobby" style="color: black; text-transform: none">{{ username }}</a>
                            <a class="btn btn-success" type="button" href="/auth/signout">Log Out</a>
                        </div>
                        {% end %}
                    </form>
                </div>
                <!-- /.Navbar-collapse -->
            </div>
        </div>
        <!-- /.container -->
    </nav>
</div> 
<!-- /Navigation -->