<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register Tier</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/signin.css") }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <script src="{{ static_url("js/jquery.min.js") }}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#register-user').click(function() {
          regInfo = JSON.stringify({
            msgType: 'register',
            inputName: $('input#inputName').val(),
            inputEmail: $('input#inputEmail').val(),
            inputPassword: $('input#inputPassword').val()
          });
          $.post('/dispacther', {msgContent: regInfo}, function(data, textStatus, xhr) {
            if (data.status == 1) {
              location.href = "/";
            } else {
              
            }
          }, "json");
        });
      });
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <dl>
        <dt><label for="inputName">Username</label></dt>
        <dd>
          <input id="inputName" type="text" name="name" class="form-control" placeholder="Username" required autofocus />
        </dd>
      </dl>

      <dl>
        <dt><label for="inputEmail">Email address</label></dt>
        <dd>
          <input id="inputEmail" type="email" name="email" class="form-control" placeholder="Email address" required />
        </dd>
      </dl>

      <dl>
        <dt><label for="inputPassword">Password</label></dt>
        <dd>
          <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Password" required />     
        </dd>
      </dl>
      <input id="register-user" class="btn btn-lg btn-primary btn-block" type="submit" value="Sign up"/>
    </div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static_url("bootstrap/js/ie10-viewport-bug-workaround.js") }}"></script>

  </body>
</html>
