<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login Tier</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ static_url("css/signin.css") }}" rel="stylesheet">
  <link href="{{ static_url("css/tier.css") }}" rel="stylesheet">
  <link href="{{ static_url("css/style.css") }}" rel="stylesheet">

</head>

<body>

  <div class="wrapper">
    {% if user_agent == "iPhone" %}
      {% module Template("navIOS.html", username="") %}
    {% else %}
      {% module Template("nav.html", username="") %}
    {% end if %}

  <div class="container tier-container">
    <form class="form-signin tier-form-signin" action="/auth/signin" method="POST">
      <span><h4 class="form-signin-heading">Sign In</h4></span>
      <label for="inputEmail" class="sr-only">Email address</label>
      <br/>

      <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
      <br/>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      {% module xsrf_form_html() %}

      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>

  <div class="text-center">
    {% if not error %}
    <p></p>
    {% else %}
    <p class="lead">
      <p class="btn btn-lg btn-default"> {{ error }} </p>
    </p>
    {% end %}
  </div>
        
    <div class="push"></div>
  </div>

  {% module Template("footer.html") %}

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ static_url("bootstrap/js/ie10-viewport-bug-workaround.js") }}"></script>
</body>
</html>
