
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tier.me</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/jumbotron.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/my.css") }}" rel="stylesheet">

    <script src="{{ static_url("bootstrap/js/ie-emulation-modes-warning.js") }}"></script>

  </head>

  <body>

    {% module Template("nav.html", username=username) %}

    <div class="container">

        <div class="page-header">
          <h1>{{ team_name }}</h1>
          <h5>Leader: {{ leader_name }}</h5>
          <p class="lead">{{ intro }}</p>
          <p><a class="btn btn-default" href="\dashboard" role="button">Join It &raquo;</a></p>
        </div>

      <footer>
        <p>&copy; HKU Ethan & Xiaoma 2015</p>
        <p>Contact: kylejan.jan@gmail.com</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("js/jquery-2.1.3.min.js") }}"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static_url("bootstrap/js/ie10-viewport-bug-workaround.js") }}"></script>
  </body>
</html>
