<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tier.me</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/tier.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">

    <script src="{{ static_url("bootstrap/js/ie-emulation-modes-warning.js") }}"></script>

</head>

<body>

    {% module Template("nav.html", username=username) %}

    <section class="home-section color-dark bg-white" style="padding-top: 80px">
        <div class="container tier-container">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
            </div>
        </div>
    </section>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static_url("bootstrap/js/ie10-viewport-bug-workaround.js") }}"></script>
</body>
</html>
