<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tier.me</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/tier.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">

    <script src="{{ static_url("bootstrap/js/ie-emulation-modes-warning.js") }}"></script>

</head>

<body>

    {% module Template("nav.html", username=username) %}

    <section class="home-section color-dark bg-white" style="padding-top: 80px">

        <div class="container tier-container col-md-offset-2 col-md-8">
            <h3 class="header">Teams Joined</h3>
            <div class="list-group">
                {% set i = 0 %}
                {% if joined_teams != None %}
                    {% for joined_team in joined_teams %}
                        <a href="" class="list-group-item list-group-item-default row">
                            <span class="col-md-1">{{ i + 1 }}</span>
                            <span class="col-md-2">{{ joined_team['name'] }}</span>
                        </a>                   
                        {% set i = i + 1 %}
                    {% end %}
                {% end if %}
                {% if i % 8 != 0 or i == 0 %}
                    {% set j = (i / 6 + 1) * 6 - i %}
                    {% for x in xrange(j) %}
                        <a href="" class="list-group-item list-group-item-default row">
                            <span class="col-md-1">{{ i + 1 }}</span>
                            <span class="col-md-2"></span>
                        </a>
                        {% set i = i + 1 %}
                    {% end%}
                {% end if %}
            </div>
            <div>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>

        <div class="container tier-container col-md-offset-2 col-md-8">
            <h3 class="header">Teams Unjoined</h3>
            <div class="list-group">
                {% set i = 0 %}
                {% if excepted_teams != None %}
                    {% for excepted_team in excepted_teams %}
                        <a href="" class="list-group-item list-group-item-default row">
                            <span class="col-md-1">{{ i + 1 }}</span>
                            <span class="col-md-2">{{ excepted_team['name'] }}</span>
                        </a> 
                    {% set i = i + 1 %}
                    {% end %}
                {% end if %}
                {% if i % 8 != 0 or i == 0 %}
                    {% set j = (i / 6 + 1) * 6 - i %}
                    {% for x in xrange(j) %}
                        <a href="" class="list-group-item list-group-item-default row">
                            <span class="col-md-1">{{ i + 1 }}</span>
                            <span class="col-md-2"></span>
                        </a>
                        {% set i = i + 1 %}
                    {% end%}
                {% end if %}
            </div>
            <div>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </section>


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static_url("bootstrap/js/ie10-viewport-bug-workaround.js") }}"></script>
</body>
</html>
